absl-py==2.0.0
accelerate==0.21.0
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.14.0
beautifulsoup4==4.12.3
bitsandbytes==0.38.1
black==23.7.0
bleach==6.1.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cmake==3.28.1
comm==0.2.2
conda-pack==0.7.1
contourpy==1.2.0
coverage==7.2.7
cycler==0.12.1
dataclasses-json==0.5.14
datasets==2.17.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator==5.1.1
deepspeed==0.10.0
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
distro==1.8.0
docker-pycreds==0.4.0
docstring-parser==0.15
evaluators==1.0.3
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.95.0
fastjsonschema==2.19.1
ffmpy==0.3.1
filelock==3.13.1
fire==0.5.0
flake8==6.0.0
Flask==3.0.0
Flask-Cors==4.0.0
fonttools==4.44.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.23.4
google-auth-oauthlib==1.0.0
googletrans==3.0.0
gradio==3.38.0
gradio_client==0.6.1
greenlet==3.0.1
grpcio==1.59.3
h11==0.14.0
h2==3.2.0
hjson==3.1.0
hpack==3.0.0
hstspreload==2024.2.1
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.24.3
hyperframe==5.2.0
identify==2.5.33
idna==2.10
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jax==0.4.24
jaxlib==0.4.24
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.24
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.17.3
jsonschema-spec==0.1.4
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
k-means-constrained==0.7.3
kiwisolver==1.4.5
langchain==0.0.147
langchainplus-sdk==0.0.20
lazy-object-proxy==1.10.0
linkify-it-py==2.0.2
lit==17.0.6
Markdown==3.5.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1
nltk==3.8.1
nodeenv==1.8.0
notebook==7.1.2
notebook_shim==0.2.4
numexpr==2.8.7
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.0.6
openai==0.27.2
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.4.4
openapi-spec-validator==0.5.6
opencv-python==4.8.1.78
opt-einsum==3.3.0
orjson==3.9.10
ortools==9.8.3296
overrides==7.7.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
pathable==0.4.3
pathspec==0.12.1
pathtools==0.1.2
Pebble==5.0.3
peft==0.8.2
pexpect==4.9.0
Pillow==9.4.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.3.3
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.8
pydub==0.25.1
pyflakes==3.0.1
Pygments==2.16.1
pynvml==11.5.0
pyparsing==3.0.9
pyre-extensions==0.0.29
pyrsistent==0.20.0
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rank-bm25==0.2.2
referencing==0.30.2
regex==2023.10.3
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.5
rouge==1.0.1
rouge-chinese==1.0.3
rpds-py==0.12.0
rsa==4.9
safetensors==0.4.2
scikit-learn==1.3.0
scipy==1.11.3
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.40.0
setproctitle==1.3.3
shortuuid==1.0.11
shtab==1.6.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==1.4.51
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.26.1
sympy==1.12
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.2.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.19.1
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.4
tqdm==4.64.1
traitlets==5.14.2
transformers==4.41.2
triton==2.0.0
trl==0.7.6
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.8.0
tyro==0.5.12
tzdata==2023.3
uc-micro-py==1.0.2
uri-template==1.3.0
urllib3==1.26.18
uvicorn==0.21.1
virtualenv==20.25.0
wandb==0.15.6
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==4.0.10
xformers==0.0.20
xxhash==3.4.1
yarl==1.9.2
